sudo: false

language: node_js
node_js:
  - 10

before_install:
  - yarn add coveralls

after_success:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js

branches:
  only:
    - master
